.vscode/tasks.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
a.exe
.vscode/ipch/91cd74201820a982/mmap_address.bin
.vscode/ipch/8e8409d7dfbf5fe4/RGBANIMATOR.ipch
.vscode/ipch/8e8409d7dfbf5fe4/mmap_address.bin
.vscode/ipch/91cd74201820a982/RGBANIMATOR.ipch
RGBAnimator.hpp.gch
.vscode/ipch/d8ac31ff634daf24/MAIN.ipch
.vscode/ipch/d8ac31ff634daf24/MAIN.ipch
RGBAnimator.hpp.gch
